body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.awesome p, .right a {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 25px 200px 100px; 
}

.main {
    display: flex;
    gap: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 8px;
}

img {
    height: auto;
    width: 500px;
    
}

/* here starts the information section */

.imagen img {
    width: 150px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.content {
    display: flex;
    gap: 52px;
}

.information-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px 0;
}

.text {
    font-size: 16px;
    color: #1F2937;
    text-align: center;
}

.drink {
    width:150px; 
}